<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
 	<typeAliases>
 		<typeAlias type="com.project.trip.board.notice.model.NoticeDTO" alias="noticedto"/>
 		<typeAlias type="com.project.trip.reservation.model.AccomReservationDTO" alias="accomreservationdto" />
        <typeAlias type="com.project.trip.reservation.model.ReservationDTO" alias="reservationdto" />
        <typeAlias type="com.project.trip.reservation.model.CarReservationDTO" alias="carreservationdto" />
 	</typeAliases>
</configuration>