<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

<typeAliases>
 		<typeAlias type="com.project.trip.mypage.model.UserDTO" alias="userdto" />	
 		<typeAlias type="com.project.trip.allplace.model.KeywordLinkDTO" alias="keywordlinkdto"/>
 		<typeAlias type="com.project.trip.allplace.model.PlaceDTO" alias="placedto"/>
 		<typeAlias type="com.project.trip.allplace.model.TouristSpotDTO" alias="touristspotdto"/>
 		<typeAlias type="com.project.trip.board.review.model.ReviewDTO" alias="reviewdto"/>
 		<typeAlias type="com.project.trip.reservation.model.AccomReservationDTO" alias="accomreservationdto" />
 		<typeAlias type="com.project.trip.reservation.model.ReservationDTO" alias="reservationdto" />
 		<typeAlias type="com.project.trip.reservation.model.CarReservationDTO" alias="carreservationdto" />
 		<typeAlias type="com.project.trip.admin.board.model.IntegratedBoardDTO" alias="integratedboarddto"/>
    	<typeAlias type="com.project.trip.admin.accom.model.accomAllInfoDTO" alias="accomAllInfoDTO"/>         
    	<typeAlias type="com.project.trip.admin.car.model.carDTO" alias="carDTO"/>    
    	<typeAlias type="com.project.trip.admin.user.model.AdminUserDTO" alias="AdminUserDTO"/>
    	<typeAlias type="com.project.trip.admin.user.model.suspendedUserDTO" alias="suspendedUserDTO"/>
    	<typeAlias type="com.project.trip.admin.report.model.reportDTO" alias="reportDTO"/> 

 		<package name="com.project.trip.admin.accom.model"/>
 		<package name="com.project.trip.board.notice.model"/>
 		<package name="com.project.trip.reservation.model"/>
 		<package name="com.project.trip.board.routepost.model"/>
 	</typeAliases>
 
</configuration>