<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.trip.AI.mapper.AiMapper">
	
	<resultMap id="routeResultMap" type="RouteDTO">
        <id     property="aiRouteId"        column="ai_route_id"/>
        <result property="userId"           column="user_id"/>
        <result property="conversationId"   column="conversation_id"/>
        <result property="aiRouteTitle"     column="ai_route_title"/>
        <result property="aiRouteDays"      column="ai_route_days"/>
        <result property="aiRouteCreated"   column="ai_route_created"/>
        <result property="aiRouteRegion"    column="ai_route_regiom"/>
        <result property="aiRouteStartDate" column="ai_route_startdate"/>
        <result property="aiRouteEndDate"   column="ai_route_enddate"/>
        <result property="weatherConsideration" column="weather_consideration"/>
    </resultMap>

    <resultMap id="stopResultMap" type="RouteStopDTO">
        <id     property="aiRouteStopId"    column="ai_route_stop_id"/>
        <result property="aiRouteId"        column="ai_route_id"/>
        <result property="aiRouteDay"       column="ai_route_day"/>
        <result property="aiRouteStopOrder" column="ai_route_stop_order"/>
        <result property="aiRouteLat"       column="ai_route_lat"/>
        <result property="aiRouteLong"      column="ai_route_long"/>
        <result property="aiRouteDescription" column="ai_route_description"/>
        
        <result property="activityCode"     column="ACTIVITY_CODE"/>
        <result property="durationInMinutes" column="DURATION_IN_MINUTES"/>
        <result property="transportationMode" column="TRANSPORTATION_MODE"/>
        <result property="walkingDistanceKm"  column="WALKING_DISTANCE_KM"/>
        <result property="walkingStepsCount"  column="WALKING_STEPS_COUNT"/>
        <result property="restaurantCategory" column="RESTAURANT_CATEGORY"/>
    </resultMap>
    
	<insert id="insertAiRoute" parameterType="RouteDTO">
    <selectKey keyProperty="aiRouteId" resultType="long" order="BEFORE">
        select seqAiRoute.nextval from dual
    </selectKey>
    
    INSERT INTO tblAiRoute (
        AI_ROUTE_ID, USER_ID, AI_ROUTE_TITLE, AI_ROUTE_DAYS, 
        AI_ROUTE_CREATED, AI_ROUTE_REGION, AI_ROUTE_STARTDATE, AI_ROUTE_ENDDATE,
        WEATHER_CONSIDERATION
    ) VALUES (
        #{aiRouteId},
        #{userId},
        #{aiRouteTitle},
        #{aiRouteDays},
        SYSTIMESTAMP AT TIME ZONE 'Asia/Seoul',
        #{aiRouteRegion},
        TO_DATE(#{aiRouteStartDate}, 'YYYY-MM-DD'),
        TO_DATE(#{aiRouteEndDate}, 'YYYY-MM-DD'),
        #{weatherConsideration}
    )
</insert>

	
	<insert id="insertAiRouteStop" parameterType="RouteStopDTO">
    <selectKey keyProperty="aiRouteStopId" resultType="long" order="BEFORE">
         SELECT seqAiRouteStop.nextval FROM dual
    </selectKey>
    
    INSERT INTO tblAiRouteStop (
        AI_ROUTE_STOP_ID, AI_ROUTE_ID, AI_ROUTE_DAY, AI_ROUTE_STOP_ORDER, 
        AI_ROUTE_LAT, AI_ROUTE_LONG, AI_ROUTE_DESCRIPTION, 
        ACTIVITY_CODE, DURATION_IN_MINUTES, TRANSPORTATION_MODE,
        WALKING_DISTANCE_KM, WALKING_STEPS_COUNT, RESTAURANT_CATEGORY
    ) VALUES (
        #{aiRouteStopId},
        #{aiRouteId},
        #{aiRouteDay, jdbcType=INTEGER},
        #{aiRouteStopOrder, jdbcType=INTEGER},
        #{aiRouteLat, jdbcType=NUMERIC},
        #{aiRouteLong, jdbcType=NUMERIC},
        #{aiRouteDescription, jdbcType=VARCHAR},
        #{activityCode, jdbcType=VARCHAR},
        #{durationInMinutes, jdbcType=INTEGER},
        #{transportationMode, jdbcType=VARCHAR}, 
        #{walkingDistanceKm, jdbcType=NUMERIC},
        #{walkingStepsCount, jdbcType=INTEGER},
        #{restaurantCategory, jdbcType=VARCHAR}
    )
</insert>

	
	<select id="findRouteById" resultMap="routeResultMap" parameterType="long">
          SELECT * FROM tblAiRoute WHERE AI_ROUTE_ID = #{aiRouteId}
    </select>
    
    <select id="findStopsByRouteId" resultMap="stopResultMap" parameterType="long">
        
        SELECT *
        FROM tblAiRouteStop
        WHERE AI_ROUTE_ID = #{aiRouteId}
        ORDER BY AI_ROUTE_DAY, AI_ROUTE_STOP_ORDER

	</select>
	
	<insert id="insertHealthCareLog" parameterType="HealthCareLogDTO">
        INSERT INTO tblHealthCareLog (
            healthcare_id, user_id, ai_route_stop_id, healthcare_date, 
            healthcare_distance_km, healthcare_steps_count, healthcare_calories_burned
        ) VALUES (
            seqHealthCareLog.nextval, 
            #{userId}, 
            #{aiRouteStopId}, 
            TO_DATE(#{healthcareDate}, 'YYYY-MM-DD'), 
            #{healthcareDistanceKm},
            #{healthcareStepsCount},
            #{healthcareCaloriesBurned}
        )
    </insert>
</mapper>
  