<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- XML Mapper -->
<mapper namespace="com.project.trip.mypage.mapper.MemberMapper">
	<select id="get" parameterType="String" resultType="udto">
		
		<!-- username, password enabled  -->
		SELECT
    u.user_id AS seq,
    u.username AS id,
    u.password AS pw,
    u.ssn,
    u.phone_number AS phoneNumber,
    u.nickname,
    u.real_name AS name,
    u.email,
    u.address,
    u.gender,
    u.height,
    u.weight,
    u.health_goals AS healthGoals,
    (
        SELECT s.status
        FROM tblUserStatus s
        WHERE s.user_status_id = u.user_status_id
    ) AS auth
FROM
    tblUser u
WHERE
	u.username = #{username}
	</select>

</mapper>















